*{
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
}
body{
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(107, 106, 106);

}
h1{
    font-size: 3.5em;
}
h2{font-size: 2.7em;}
h3{font-size: 2em;}
p{font-size: 1.25em;}
button{
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 2px 2px 10px black;
    color: rgb(56, 18, 18);
    background-color: goldenrod;

}
button:hover{
    background-color: gold;
}
.container{
    max-width: 1400px;
    margin:auto
}
header{
    background-color: rgba(218, 217, 213, 0.945);
}
header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: rgb(63, 3, 3);
    font-size: 50px;

}
header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;

}
header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}
header a:hover{
    color: red;
}
footer{
    background-color: rgb(135, 135, 132);
}
footer p{
    margin: 0;
    color: black;
}
footer .container{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
@media (min-width: 720px){
    header{
        position: fixed;
        width: 100%;
    }
    header .container{
        flex-direction: row;
        justify-content: space-between;
    }
    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }
    footer .container{
        justify-content: flex-end;
      }
}
.imagen{
    width: 100%;
}
.imagen img{
    width: 100%;
}
.galeria{
    
    width: 100%;
    margin: auto;
    display: grid;
    column-gap: .5rem;
    row-gap: .5rem;
}
.galeria h2{
    font-size: 50px;
    display: flex;
    justify-content: center;
    color: rgb(201, 179, 51);
}